# Node
renderer/node_modules
renderer/dist
renderer/.vite

# Electron
/electron-main/node_modules
/electron-main/out
/electron-main/release/
/electron-main/resources/backend/server
/electron-main/resources/backend/server.exe

# Go
/backend/offline.db
/backend/exports/
/backend/server
/backend/server.exe
/backend/*.log

# OS
.DS_Store
Thumbs.db

# Release builds (ignore all)
/release/

# Misc
*.log
*.tmp
*.bak